### Tuples,Set and basic of strings

### Tuple

 1. initiatied with ()
  
 Above are the Commom properties between list and tuple
 
 1. Heterogenous datatypes
 2. Retervies using index
 
 #### Difference between list and tuple
 =========================
 1. Tuples are immutable

In [15]:
Sample_tup = (1,3,'Raj',1+6J,[1,24],3)

In [22]:
### Reterving  based on index
Sample_tup[2]

'Raj'

In [16]:
Sample_tup.count(2)

0

In [17]:
Sample_tup.count(3)

2

In [12]:
Sample_tup.index('Raj')

2

In [39]:
len(Sample_tup)

6

# Set

1. Initiatied with {}.



### Common properites between list and set

Allows heterogenoous datatype

### Common properites between tuple and set

1. Mutuable

### Unique properties of set

1. it does not hold duplicate values
2. it cannot be accessed based on index
3. sometimes it can be ordered

In [18]:
sam_set = {1,3,5,7,34,78,4,5,3}

In [19]:
sam_set

{1, 3, 4, 5, 7, 34, 78}

In [20]:
sam_set[2]

TypeError: 'set' object is not subscriptable

In [24]:
sam_set1 = {1,3,5,7,67,34,78,4,5,3,'raj','teun'}

In [25]:
sam_set1

{1, 3, 34, 4, 5, 67, 7, 78, 'raj', 'teun'}

In [21]:
sam_set(2)

TypeError: 'set' object is not callable

In [27]:
sam_set.add(9464)

In [28]:
sam_set

{1, 3, 4, 5, 7, 34, 78, 9464}

# Dictonary (Key value pairs)

### Properites:

1. All the data is stored as key value pair
2. Key should be always unique and values can be duplicated
3. Retrieve the VALUES using KEYS
4. VALUES can be changed using KEYS
5. Keys are immutable

Key -> word you search
Value -> is meaning you look after for a word

In [50]:
sam_dic = {
    
    1:'Raj',
    2:'Sravanthi',
    3:'Nani',
    'a':'Pakala',
    4:['Mom','Dad']
}

In [51]:
sam_dic

{1: 'Raj', 2: 'Sravanthi', 3: 'Nani', 'a': 'Pakala', 4: ['Mom', 'Dad']}

In [33]:
sam_dic.keys()

dict_keys([1, 2, 3])

In [34]:
sam_dic.values()

dict_values(['Raj', 'Sravanthi', 'Nani'])

In [36]:
sam_dic[1]

'Raj'

In [37]:
sam_dic[3]='Hero'

In [45]:
sam_dic['b']='Boppasamudram'

In [46]:
sam_dic

{1: 'Raj', 2: 'Sravanthi', 3: 'Nani', 'a': 'Pakala', 'b': 'Boppasamudram'}

In [44]:
sam_dic['a']

'Pakala'

In [54]:
sam_dic[4]

['Mom', 'Dad']

In [55]:
sam_dic[4][0]

'Mom'

# Strings

1. Strings are retrieved using index
2. Strings are immutable

In [57]:
a = ("Hi how are you")
b = ("Nana technology")

In [58]:
a

'Hi how are you'

In [59]:
a + '_' + b

'Hi how are you_Nana technology'

# Type Conversion

In [60]:
a = 10

In [61]:
type(a)

int

In [64]:
a = float(a)

In [65]:
a

10.0

In [66]:
s = 'Raj'

In [67]:
type(s)

str

In [74]:
lst1 = [[1,"One"],[2,"two"],[3,["three","tehe"]]]

In [77]:
lst1[2][1][0]

'three'

In [78]:
lst1 = dict(lst1)

In [79]:
lst1

{1: 'One', 2: 'two', 3: ['three', 'tehe']}

In [80]:
lst1.values()

dict_values(['One', 'two', ['three', 'tehe']])

In [89]:
lst3 = [1,2,4,56,5]

### Both the list are assigned to same address and hence chaning in one list will change in another

In [90]:
lst4 = lst3

In [91]:
lst3[3] = 40

In [92]:
lst4

[1, 2, 4, 40, 5]

In [93]:
lst3

[1, 2, 4, 40, 5]

### Below is the copy where the lst5 is different from lst3

In [94]:
lst5 = lst3.copy()

In [95]:
lst3[3] = 50

In [96]:
lst5

[1, 2, 4, 40, 5]

In [97]:
lst3

[1, 2, 4, 50, 5]

# Strings

In [98]:
#multiline 
mulit = '''
this is
sample period
'''

In [99]:
mulit

'\nthis is\nsample period\n'

## Getting input from user

In [ ]:
a = input()

In [ ]:
a = input("please enter string")

In [ ]:
a = 'Rajasekhar'

In [ ]:
a.upper()

In [ ]:
a.captialize()

In [ ]:
from encodings.aliases import aliases
aliases

In [ ]:
rev ="this is good"

In [ ]:
rev.code("utf-8")

In [ ]:
rev.split(" ")

In [ ]:
'good' in rev

In [ ]:
rev = "   there is hate"

In [ ]:
rev.lstrip()

In [ ]:
rev = "  ********** there is hate"

In [ ]:
rev.lstrip('*')

In [1]:
rev = " this   thisis    joidd kdmdml"

In [2]:
rev.strip()

'this   thisis    joidd kdmdml'

# Join function

In [5]:
"".join(rev.split("  "))

' this thisisjoidd kdmdml'

In [6]:
rev.replace('this','nani')

' nani   naniis    joidd kdmdml'

# Formatting

In [9]:
mentor = "Raj"
men_ass = "laxmi"
print("ML Mentor:{} and python is mentor {}".format(mentor,men_ass))

ML Mentor:Raj and python is mentor laxmi

In [10]:
print("status mentor:{1} and python is from {0}".format(mentor,men_ass))

status mentor:laxmi and python is from Raj