In [229]:
import pandas as pd
import datetime
import numpy as np

In [230]:
df = pd.read_csv(r'C:\Users\Lenovo\Desktop\Data_Science\Inceptez\SOURCE\Project_data.txt')
df['RPT_DT'] = pd.to_datetime(df['RPT_DT'])
df.head(2)

,RPT_DT,RPT_DT1,Core_order_count,Core_Item_Price,DM_Order_Count,DM_Item_Price
0,2020-08-01,2020-08-01,502,551.616303,1023,682.959182
1,2020-08-02,2020-08-02,503,555.042494,1024,683.959182

In [231]:
Previous_Date = datetime.datetime.today() - datetime.timedelta(days=1)
Previous_Date.strftime("%Y-%m")

'2021-01'

In [232]:
k = df[['RPT_DT']].min(),df[['RPT_DT']].max()
#print(df[['RPT_DT']].max())
k

(RPT_DT   2020-08-01
 dtype: datetime64[ns],
 RPT_DT   2021-01-08
 dtype: datetime64[ns])

In [213]:
df['Year_Month'] = df['RPT_DT'].apply(lambda x: x.strftime("%Y-%m"))
df.head(2)

,RPT_DT,RPT_DT1,Core_order_count,Core_Item_Price,DM_Order_Count,DM_Item_Price,Year_Month
0,2020-08-01,2020-08-01,502,551.616303,1023,682.959182,2020-08
1,2020-08-02,2020-08-02,503,555.042494,1024,683.959182,2020-08

In [214]:
df.loc[df['Year_Month'] == Previous_Date.strftime("%Y-%m")]

,RPT_DT,RPT_DT1,Core_order_count,Core_Item_Price,DM_Order_Count,DM_Item_Price,Year_Month
153,2021-01-01,2021-01-01,759,711.221093,689,640.697271,2021-01
154,2021-01-02,2021-01-02,760,712.221093,690,644.123463,2021-01
155,2021-01-03,2021-01-03,761,713.221093,691,647.549654,2021-01
156,2021-01-04,2021-01-04,762,714.221093,692,650.975845,2021-01
157,2021-01-05,2021-01-05,763,715.221093,693,654.402036,2021-01
158,2021-01-06,2021-01-06,764,716.221093,694,657.828227,2021-01
159,2021-01-07,2021-01-07,764,717.221093,695,661.254418,2021-01
160,2021-01-08,2021-01-08,764,718.221093,696,664.680609,2021-01

# Actual Approach

In [24]:
import pandas as pd
import datetime
import numpy as np

In [25]:
df = pd.read_csv(r'C:\Users\Lenovo\Desktop\Data_Science\Inceptez\SOURCE\Project_data.txt')
df['RPT_DT'] = pd.to_datetime(df['RPT_DT'])
df.head(2)

,RPT_DT,RPT_DT1,Core_order_count,Core_Item_Price,DM_Order_Count,DM_Item_Price
0,2020-08-01,2020-08-01,502,551.616303,1023,682.959182
1,2020-08-02,2020-08-02,503,555.042494,1024,683.959182

In [26]:
#df.apply(lambda x: x.strftime('%Y-%m-%d'))
#df['RPT_DT'] = df['RPT_DT'].apply(lambda x: x.strftime('%Y-%m-%d'))

df['Year_Month'] = df['RPT_DT'].apply(lambda x: x.strftime("%Y-%m"))
df['RPT_DT'] = df['RPT_DT'].apply(lambda x: x.strftime("%Y-%m-%d"))

In [4]:
df.head(2)

,RPT_DT,RPT_DT1,Core_order_count,Core_Item_Price,DM_Order_Count,DM_Item_Price,Year_Month
0,2020-08-01,2020-08-01,502,551.616303,1023,682.959182,2020-08
1,2020-08-02,2020-08-02,503,555.042494,1024,683.959182,2020-08

In [27]:
df.dtypes

RPT_DT               object
RPT_DT1              object
Core_order_count      int64
Core_Item_Price     float64
DM_Order_Count        int64
DM_Item_Price       float64
Year_Month           object
dtype: object

In [28]:
Previous_Date = datetime.datetime.today() - datetime.timedelta(days=1)
ym = Previous_Date.strftime("%Y-%m")
ym

'2021-01'

In [29]:
df_new = df.loc[df['RPT_DT'].str.contains(ym)]

In [8]:
df_new

,RPT_DT,RPT_DT1,Core_order_count,Core_Item_Price,DM_Order_Count,DM_Item_Price,Year_Month
153,2021-01-01,2021-01-01,759,711.221093,689,640.697271,2021-01
154,2021-01-02,2021-01-02,760,712.221093,690,644.123463,2021-01
155,2021-01-03,2021-01-03,761,713.221093,691,647.549654,2021-01
156,2021-01-04,2021-01-04,762,714.221093,692,650.975845,2021-01
157,2021-01-05,2021-01-05,763,715.221093,693,654.402036,2021-01
158,2021-01-06,2021-01-06,764,716.221093,694,657.828227,2021-01
159,2021-01-07,2021-01-07,764,717.221093,695,661.254418,2021-01
160,2021-01-08,2021-01-08,764,718.221093,696,664.680609,2021-01

In [30]:
upd = df_new.groupby('Year_Month', as_index=False).agg({
    "Core_order_count":"sum",
    "Core_Item_Price": "sum",
    "DM_Order_Count":"sum",
    "DM_Item_Price":"sum"
})
upd

  Year_Month  Core_order_count  Core_Item_Price  DM_Order_Count  DM_Item_Price
0    2021-01              6097      5717.768746            5540    5221.511523

In [264]:
print(df_new['Core_order_count'].sum())
print(df_new['Core_Item_Price'].sum())
print(df_new['DM_Order_Count'].sum())
print(df_new['DM_Item_Price'].sum())

6097
5717.768746399999
5540
5221.5115227

In [31]:
upd['cnt_diff'] = upd['Core_order_count'] - upd['DM_Order_Count']
upd

,Year_Month,Core_order_count,Core_Item_Price,DM_Order_Count,DM_Item_Price,cnt_diff
0,2021-01,6097,5717.768746,5540,5221.511523,557

In [32]:
upd.head(2)

,Year_Month,Core_order_count,Core_Item_Price,DM_Order_Count,DM_Item_Price,cnt_diff
0,2021-01,6097,5717.768746,5540,5221.511523,557

In [39]:
upd.dtypes

Year_Month           object
Core_order_count      int64
Core_Item_Price     float64
DM_Order_Count        int64
DM_Item_Price       float64
cnt_diff              int64
dtype: object

In [49]:
upd['cnt_diff'].tolist()

[557]

In [57]:
for i in upd['cnt_diff']:
    if i > 500:
        print("Number is greater than 500")
    break

Number is greater than 500

In [59]:
if abs(upd['cnt_diff']>500):
    print(500)
else:
    print(600)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().