In [15]:
import pandas as pd

In [16]:
orders = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data_Science\Inceptez\Python\IMDB-Movie-Data.csv")
orders.head(3)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0

In [8]:
col_low=[]
for i in orders:
    a=i.lower()
    print(a)

rank
title
genre
description
director
actors
year
runtime (minutes)
rating
votes
revenue (millions)
metascore

In [17]:
movie_df = orders.columns.str.lower()

In [18]:
movie_df

Index(['rank', 'title', 'genre', 'description', 'director', 'actors', 'year',
       'runtime (minutes)', 'rating', 'votes', 'revenue (millions)',
       'metascore'],
      dtype='object')

In [22]:
movie_df.loc[:,['director','dank']]

AttributeError: 'Index' object has no attribute 'loc'

In [20]:
movie_df.loc[:,['rank','director']]

AttributeError: 'Index' object has no attribute 'loc'

In [21]:
movie_df[[director','rank']]

SyntaxError: invalid syntax (<ipython-input-21-fa74ef430554>, line 1)

In [23]:
movie_df.loc[(df['runtime (minutes)']>80) & (movie_df['year']==2016)]

AttributeError: 'Index' object has no attribute 'loc'