# code basics
## For loop

In [7]:
exp=[2200,2500,3100,2750,2900,2850]
total=exp[0]+exp[1]+exp[2]+exp[3]+exp[4]+exp[5]
print("Total amount spend is :"+ str(total))

otal amount spend is :16300

In [10]:
a=0
for i in exp:
    a=a+i
print(a)

16300

## Range function

In [21]:
for i in range(1,6):
    print(i)
    print("Square of num:" + str(i*i))

1
Square of num:1
2
Square of num:4
3
Square of num:9
4
Square of num:16
5
Square of num:25

In [27]:
c=0
exp=[2200,2500,3100,2750,2900,2850]
for i in range(len(exp)):
        c=c+exp[i]
print(c)

16300

In [40]:
a=0
c=0
exp=[2200,2500,3100,2750,2900,2850]
mon=['Jan','Feb','Mar','Apr','May','Jun']
for i in range(len(exp)):
    print("Month is" ,mon[c],"and Expenses are:",exp[i])
    a=a+exp[i]
    c=c+1
print("Total expenses are:",str(a))

Month is Jan and Expenses are: 2200
Month is Feb and Expenses are: 2500
Month is Mar and Expenses are: 3100
Month is Apr and Expenses are: 2750
Month is May and Expenses are: 2900
Month is Jun and Expenses are: 2850
Total expenses are: 16300

In [49]:
keys=["chair"]
key_loc=["garage","living room","chair","table"]
for i in range(len(key_loc)):
    if key_loc[i] == keys[0]:
        print("Found the keys in",key_loc[i])
        break
    else:
        print("Keys not found")

Keys not found
Keys not found
Found the keys in chair

In [50]:
keys="chair"
key_loc=["garage","living room","chair","table"]
for i in range(len(key_loc)):
    if key_loc[i] == keys:
        print("Found the keys in",key_loc[i])
        break
    else:
        print("Keys not found")

Keys not found
Keys not found
Found the keys in chair

In [56]:
for i in range(1,6):
    if i %2 ==0:
        continue
    print(i*i)

1
9
25

## While

In [1]:
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5