In [1]:
import numpy as np
import pandas as pd

In [2]:
a = np.arange(10)

In [3]:
print(a[2:] )

[2 3 4 5 6 7 8 9]

In [4]:
data_1 = {'state' : ['VA', 'VA', 'VA', 'MD', 'MD'], 
          'year' : [2012, 2013, 2014, 2014, 2015], 
          'pop' : [5.0, 5.1, 5.2, 4.0, 4.1]}

In [7]:
df_1 = pd.DataFrame(data_1)

In [8]:
df_1.head(3)

  state  year  pop
0    VA  2012  5.0
1    VA  2013  5.1
2    VA  2014  5.2

In [9]:
df_1['state']

0    VA
1    VA
2    VA
3    MD
4    MD
Name: state, dtype: object

In [1]:
x = ['ab', 'cd']

In [2]:
for i in x: 
    x.append(i.upper()) 
print(x)

MemoryError:

In [4]:
True = False 
while True: 
    print(True) 
break

SyntaxError: can't assign to keyword (<ipython-input-4-b045760ff8bf>, line 1)

In [5]:
print('*', "abcde".center(6), '*', sep='')

*abcde *